
h1 Compare {{coursetitle0}} ( {{course_0}}) and {{coursetitle1}} ({{course_1}})
div(id="allgraph1", class="allgraph")
	h2(class="graphtitle", id="graphtitle1")
	div(class="chartdiv", id="chart1")
div(id="allgraph2", class="allgraph")
	h2(class="graphtitle", id="graphtitle2") 
	div(class="chartdiv", id="chart2")
div(id="allgraph2", class="allgraph")
	h2(class="graphtitle", id="graphtitle3gr") 
	div(class="chartdiv", id="chart3")
script(type="text/javascript", src='#{STATIC_URL}/courses/javascript/graphs.js')
script(type="text/javascript")
	var maledata = [ 
		{name: "{{course_0}}", value:"{{maleratio}}"},
		{name: "{{course_1}}", value:"{{male1ratio}}"},
	];
	var femaledata = [ 
		{name: "{{course_0}}", value:"{{femaleratio}}"},
		{name: "{{course_1}}", value:"{{female1ratio}}"},
	]
	graph(maledata, 300, 270, "1", "% Female Enrollment");
	graph(femaledata, 300, 270, "2", "% Male Enrollment");

