
h1{% if compare0 %} {{compare0}},  {%endif%} {% if compare1 %} {{compare1}} {%endif%}
div(class="chartdiv", id="chart1")
div(class="chartdiv", id="chart2")
script(type="text/javascript", src='#{STATIC_URL}/courses/javascript/graphs.js')
