form(method="get", action="/courses/doSearch")
	label(for="coursesearch") Search:
	input(type="text" name="coursesearch")
	button(id="submitsearch")
{% if coursesearch %}
p Did you mean?
ol
	{% for result in coursesearch %}
	li 
		a(href="") {{result}}
	{% endfor %}
{%endif%}
