h1 {{coursetitle}}
h2 {{courseid}}
div(id="course_info")
	p {{description}}
div(id="course_res")
	body
	if popularity
		|Popularity: {{popularity}}%
	if males
		|Males: {{males}}
		|Females: {{females}}

