h1 Instuctions
p Hi! Welcome to our website. You can use this site to search through Olin's course history to learn more about courses you might want to take and even find new courses you want to take. On the site, you can do three main things:

ol
	li Search for Courses:
		| By following the "Course Search" tab, you can search for a specific course and learn specific information about that one course.
	li Compare Courses:
		| By following the "Compare Course" tab, you can search compare 2-3 courses by looking at graphs that compare the popularity, average gender and major splits, and more for the compared courses.
	li Advanced Search:
		| The "Advanced Search" tab will let you narrow you search by different specifications such as which major students taking the course had declared. For example, you can look only at AHSS courses taken by MechE majors.