h1 Instuctions
p Hello! Welcome to the Olin Course Analytics home page. From here, you can access each of our three applications, which we've designed specifically to help you learn more about the courses you'll be registering for soon. 

ol
	li Search for Courses:
		| By selecting the "Course Search" tab, you can search for a specific course to learn more about.
	li Compare Courses:
		| By clicking on the "Compare Course" tab, you can compare 2 or 3 courses by looking at graphs that compare their popularity, gender/major splits, and more.
	li Advanced Search:
		| The "Advanced Search" tab will let you narrow your searches by year, major, and gender. Then it'll spit out leaderboards by metric.
	li Documentation:
		| To learn more about our team, click the "About Us" button above. Three guesses who wrote the bios!
