h1 Advanced Search Results

div
	table
		thead
			tr: th Course
				//th Popularity
				th Male-Female Ratio
				//th Most Often Taken By 
		tbody 
			if zipped_data
				{% for i, j in zipped_data %}
				tr
					td {{ i }}
					td {{ j }}
				{% endfor %}


