h1 Advanced Search Results

div
	table
		thead
			tr: th Course
				th Popularity
				th Male-Female Ratio
				th Most Often Taken By 
		tbody 

			tr
				td Software Design
				td 50%

			tr
				td Real World Measurements
				td 20%
			tr 


ul 
{% for m in allmajorsplit %}
li {{m}}
{% endfor %}
