h1 Advanced Search Results

div
	table
		thead
			tr: th Course
				th Popularity
				th Male-Female Ratio
				th Most Often Taken By 
		tbody 
			if courses
				{% for course in courses %}
				tr
					td {{course}}
					td 50%
				{%endfor%}


ul 
{% for m in allmajorsplit %}
li {{m}}
{% endfor %}
