div(id="sidebar")
	h2 Compare...
	form(method="get", action="../course", class="form_class")
		div(id="cc_inputs")
			input(class="inputbox cc",type="text", name="cc0", placeholder="course title")
			input(class="inputbox cc",type="text", name="cc1", placeholder="course title")  
		div(id="cc_buttons")
			input(class="button", type="submit", value="Compare Courses", name="compare")
			button(class="button", type="button", onClick="addCourseCompare()",, id="addcc") +
div(id="center")
	