extends courses/display_page
block sidebar 
	form(method="post", action="/courses/singleCourseSearch")
		label(for="coursesearch") Search:
		input(type="text" name="coursesearch")
	{% if coursesearch %}
	p Did you mean?
	ol
		{% for result in coursesearch %}
		li 
			a(href="") {{result}}
		{% endfor %}
	{%endif%}
block center
	h1 {{coursetitle}}
	h2 {{courseid}}
	div(id="course_info")
		p {{description}}
	div(id="course_res")
		p Popularity: {{popularity}}%
