extends courses/display_page
block sidebar 
	h2 Advanced Search
	div(id="dsbycontainer")
		input(type="radio", name="dsby", value="major") 
		| Major
		input(type="radio", name="dsby", value="color")
		| Color
		input(type="radio", name="dsby", value="year")
		| Year
	form(id="datasplit", class="datasplitcb", action="", method="get")
		div(id="majorsplitform", class="splitform")
			label(for="majorsplit") Major:
			br
			input(type="checkbox", name="majorsplit", class="datasplitcb", value="all")
			| All 
			br
			input(type="checkbox", name="majorsplit", class="datasplitcb", value = "ECE") 
			| Electrical Engineering
			br
			input(type="checkbox", name="majorsplit", class="datasplitcb", value = "Mech E") 
			| Mechanical Engineering
			br
			input(type="checkbox", name="majorsplit", class="datasplitcb", value = "E Computing") 
			| E: Computing
			br
			input(type="checkbox", name="majorsplit", class="datasplitcb", value = "E Bio") 
			| E: Bio
			br
			input(type="checkbox", name="majorsplit", class="datasplitcb", value = "E Robo") 
			| E: Robo
			br
			input(type="checkbox", name="majorsplit", class="datasplitcb", value = "E Other") 
			| E: Other
			br

		div(id="colorsplitform", class="splitform")
			label(for="colorsplit") Coloring:
			br
			input(type="checkbox", name="colorsplit", class="datasplitcb", value="all")
			| All 
			br
			input(type="checkbox", name="colorsplit", class="datasplitcb", value = "ENGR") 
			| Engineering
			br
			input(type="checkbox", name="colorsplit", class="datasplitcb", value = "AHSS") 
			| Arts/Hum/Social Sciences
			br
			input(type="checkbox", name="colorsplit", class="datasplitcb", value = "SCI") 
			| Science
			br
			input(type="checkbox", name="colorsplit", class="datasplitcb", value = "MATH") 
			| Mathematics
			br
			input(type="checkbox", name="colorsplit", class="datasplitcb", value = "E") 
			| Entrepreneurship
			br
		button(id="submitsearch", class="button", name="submitsearch", value="Go!") Go!
	div(id="allsearchtags")
		//h3 Search Tags
		ul



