extends courses/layout

block content
	div(id="profiles")
		div(id="jwprofile", class="profile")
			h2 Jennifer Wei
			img(src="#{STATIC_URL}courses/images/jennifer.png")
			p Hi, I'm Jennifer and I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things.
		div(id="ldprofile", class="profile")
			h2 Logan Davis
			img(src="#{STATIC_URL}courses/images/logan.jpg")
			p Hi, I'm Logan and I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things.
		div(id="caprofile", class="profile")
			h2 Cecelia Auerswald
			img(src="#{STATIC_URL}courses/images/cecelia.jpg")
			p Hi, I'm Cecelia and I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things. I like to do all sorts of cool things.