extends courses/layout

block content
	div(id="profiles")
		div(id="jwprofile", class="profile")
			h2 Jennifer Wei
			img(src="#{STATIC_URL}courses/images/jennifer.png")
			p Jennifer Wei is an Electrical/Computer Engineer from the Bay Area. With Jade and Django in hand, she took the lead on programming all of the site's custom metrics and searches - so whenever you 404 one, say a prayer for Jen.
		div(id="ldprofile", class="profile")
			h2 Logan Davis
			img(src="#{STATIC_URL}courses/images/logan.jpg")
			p Logan Davis is an E:Robo major from Hawaii. Using South, SQLite, and his experience with big-data baseball analytics, he worked as OCA's database master. This is his first major software project. Explains a lot, huh? 
		div(id="caprofile", class="profile")
			h2 Cecelia Auerswald
			img(src="#{STATIC_URL}courses/images/cecelia.jpg")
			p Cecelia Auerswald is an Electrical/Computer Engineer from Washington, D.C. She put her superior coding experience to work as the team's primary interface programmer. She also picked out the color scheme, so direct all anti-orange hate mail to her.
